# virtual env
env/
venv/
.env
*.venv
anaconda-project.yaml

# Jupyter Notebook files
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python (temp files)
__pycache__/
*.py[cod]
*$py.class

# Data 
# *.csv
# *.zip
# *.json

# System
.DS_Store
Thumbs.db

# Logs 
logs/*
!logs/.gitkeep